.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
}

.profile-button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}